* {
  margin: 0;
  padding: 0;
  background-color: #EEE5DA;
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: #EEE5DA;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}


h1 {
  background-color: #f4f4f4;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  background-color: #f4f4f4;
  margin-bottom: 15px;
  text-align: left;
}

#loginForm{
  background-color: #f4f4f4;
}

label {
  background-color: #f4f4f4;
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input {
  background-color: #f4f4f4;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.error {
  color: red;
  margin-top: 10px;
}

.error-message {
  color: #ff4444;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  background-color: #ffebee;
  display: none;
}
.shake {
  animation: shake 0.5s;
}
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
  20%, 40%, 60%, 80% { transform: translateX(5px); }
}